/* Set HTML and BODY to have no margin or padding */
html, body {
    padding: 0px;
    margin: 0px;
}

/* Create the refresh animation on submit */
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

/* Spinner */
@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

/* Spinner */
@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

input {
  margin-right: 10px;
}

#text_opt_in {
  font-size: 11px;
  color: #ccc;
}